{% extends "common/base.html" %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8 text-center">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        ¡Contraseña Restablecida!
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Su contraseña ha sido cambiada con éxito. Ya puede iniciar sesión con su nueva contraseña.
      </p>
    </div>
    <div class="mt-5">
        <a href="{% url 'login' %}" class="text-indigo-600 hover:text-indigo-500">
            Ir al inicio de sesión
        </a>
    </div>
  </div>
</div>
{% endblock %}